In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd

In [2]:
pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\pokemon.csv')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
obj = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\pokemon.csv')

In [4]:
type(obj)
# to see type of this object

pandas.core.frame.DataFrame

In [5]:
pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\pokemon.csv', usecols = ['Name'])

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

In [6]:
obj = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\pokemon.csv', usecols = ['Name'])

In [7]:
type(obj)

pandas.core.frame.DataFrame

squeeze = True it allows to return Data Series

In [8]:
obj = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\pokemon.csv', usecols = ['Name'], squeeze = True)
obj

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [9]:
type(obj)

pandas.core.series.Series

In [10]:
speed = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\pokemon.csv', usecols = ['Speed'], squeeze = True)
speed

0       45
1       60
2       80
3       80
4       65
      ...
795     50
796    110
797     70
798     80
799     70
Name: Speed, Length: 800, dtype: int64

In [11]:
speed.tail()
# tail daje 5 ostatnich, head 5 pierwszych, moge wpisac tez head/tail(tutaj ile chce wierszow)

795     50
796    110
797     70
798     80
799     70
Name: Speed, dtype: int64

LAB

In [12]:
education = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\StackOverflowDeveloperSurvey.csv', usecols= ['FormalEducation'])
education

                                         FormalEducation
0                                       Secondary school
1      Some college/university study without earning ...
2                                      Bachelor's degree
3                                        Doctoral degree
4                                        Master's degree
...                                                  ...
51387                                  Bachelor's degree
51388                                    Master's degree
51389  Some college/university study without earning ...
51390                                  Bachelor's degree
51391                                  Bachelor's degree

[51392 rows x 1 columns]

In [13]:
type(education)

pandas.core.frame.DataFrame

In [14]:
education.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [15]:
education = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\StackOverflowDeveloperSurvey.csv', usecols= ['FormalEducation'], squeeze= True)
education

0                                         Secondary school
1        Some college/university study without earning ...
2                                        Bachelor's degree
3                                          Doctoral degree
4                                          Master's degree
                               ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, Length: 51392, dtype: object

In [16]:
type(education)

pandas.core.series.Series

In [17]:
education.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [18]:
allinfo = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\StackOverflowDeveloperSurvey.csv')

In [19]:
country = allinfo['Country']
country.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [20]:
filterOnlyUsa = country == 'United States'
filterOnlyUsa

0         True
1        False
2        False
3         True
4        False
         ...
51387     True
51388    False
51389    False
51390     True
51391    False
Name: Country, Length: 51392, dtype: bool

In [21]:
education.where(filterOnlyUsa)

0         Secondary school
1                      NaN
2                      NaN
3          Doctoral degree
4                      NaN
               ...
51387    Bachelor's degree
51388                  NaN
51389                  NaN
51390    Bachelor's degree
51391                  NaN
Name: FormalEducation, Length: 51392, dtype: object

In [22]:
education.where(filterOnlyUsa).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object

# python functions

In [23]:
sorted(obj.head())

['Bulbasaur', 'Charmander', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur']

In [24]:
type(sorted(obj))

list

In [25]:
list(obj.head())

['Bulbasaur', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur', 'Charmander']

In [26]:
dict(obj.head())

{0: 'Bulbasaur',
 1: 'Ivysaur',
 2: 'Venusaur',
 3: 'VenusaurMega Venusaur',
 4: 'Charmander'}

In [27]:
min(obj)

'Abomasnow'

In [28]:
max(obj)

'Zygarde50% Forme'

In [29]:
obj.name = 'Name of pokemons'
obj.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name of pokemons, dtype: object

In [38]:
salary = pd.read_csv(r'C:\Users\maxym\Desktop\cheatsheets\pandas_anaconda_numpy\course-files\StackOverflowDeveloperSurvey.csv', usecols= ['Salary'], squeeze= True)
salary.dropna(inplace=True)

In [39]:
len(salary)

12891

In [41]:
min(salary), max(salary)

(0.0, 197000.0)

In [31]:
salary.name = 'Matki Boski Piniezny'

In [32]:
salary.dropna()

2        113750.000000
14       100000.000000
17       130000.000000
18        82500.000000
22       100764.000000
             ...
51371     74193.548387
51378    107526.881720
51382     32258.064516
51387     58000.000000
51390     40000.000000
Name: Matki Boski Piniezny, Length: 12891, dtype: float64

In [43]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [44]:
dict(salary.head())

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

In [45]:
listSalarySorted = sorted(salary)
listSalarySorted

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.014682131845544,
 0.0293642636910879,
 0.0440463955366319,
 0.0440463955366319,
 0.0440463955366319,
 0.0587285273821759,
 0.0587285273821759,
 0.102774922918808,
 0.117457054764352,
 0.14682131845544,
 0.176185582146528,
 0.190867713992072,
 0.660695933049479,
 0.757575757575758,
 1.49577443721487,
 1.51515151515152,
 1.71577420411474,
 1.74418604651163,
 2.17983651226158,
 3.08699141816386,
 5.0,
 6.35424940428912,
 6.77495005645792,
 7.0,
 8.31505752980429,
 12.962962962963,
 14.2538975501114,
 15.0,
 16.1290322580645,
 18.0451127819549,
 24.332797803809,
 24.8407643312102,
 29.5603753480219,
 31.25,
 37.037037037037,
 39.0862503257188,
 39.7849462365591,
 40.0,
 42.0,
 44.0860215053763,
 45.1612903225806,
 45.1612903225806,
 47.3118279569892,
 48.3870967741935,
 48.6425339366516,
 51.25,
 53.763440860215,
 54.5454545454545,
 57.0,
 64.5161290322581,
 70.0,
 72.2222222222222,
 73.0,
 73.4106592277199,
 78.5714285714286,
 79.185520361991,
 79.5454545454545,
 80.0,
 80.6686046511628,
 85.0,
 92.0,
 96.0,
 97.0,
 100.0,
 102.0,
 106.060606060606,
 123.479656726554,
 124.798120687124,
 127.000440463955,
 130.0,
 135.0,
 137.490117897776,
 138.0,
 138.914613817374,
 140.0,
 146.82131845544,
 146.82131845544,
 146.82131845544,
 147.0,
 150.0,
 150.0,
 150.0,
 150.375939849624,
 161.503450300984,
 164.762883570694,
 165.0,
 174.0,
 176.185582146528,
 176.185582146528,
 176.185582146528,
 178.784266984505,
 198.208779914844,
 198.649185538339,
 200.0,
 205.549845837616,
 212.009983849655,
 220.23197768316,
 220.23197768316,
 220.23197768316,
 220.23197768316,
 220.23197768316,
 222.929936305732,
 224.36616558223,
 238.549618320611,
 250.0,
 250.0,
 250.563768479078,
 254.502740798747,
 259.836674090572,
 260.956937799043,
 264.278373219791,
 264.278373219791,
 280.254777070064,
 286.259541984733,
 286.259541984733,
 286.301570988107,
 293.642636910879,
 293.642636910879,
 293.642636910879,
 293.642636910879,
 293.642636910879,
 293.642636910879,
 293.642636910879,
 297.973778307509,
 299.154887442974,
 299.154887442974,
 308.324768756423,
 308.324768756423,
 312.69000260575,
 315.665834679195,
 334.168755221387,
 336.549248373345,
 337.689032447511,
 344.02812055942,
 350.31847133758,
 352.371164293055,
 352.371164293055,
 357.568533969011,
 360.0,
 362.595419847328,
 367.053296138599,
 367.053296138599,
 367.053296138599,
 367.053296138599,
 367.053296138599,
 370.37037037037,
 382.165605095541,
 385.873927270482,
 400.0,
 405.405405405405,
 414.012738853503,
 416.920003474333,
 417.710944026734,
 425.781823520775,
 440.463955366319,
 440.463955366319,
 440.463955366319,
 451.612903225806,
 454.320987654321,
 454.545454545455,
 476.758045292014,
 477.099236641221,
 477.707006369427,
 478.468899521531,
 483.870967741935,
 484.510350902951,
 485.045022571917,
 490.383203641169,
 500.0,
 500.0,
 500.0,
 500.0,
 500.0,
 500.0,
 501.25313283208,
 505.786017632747,
 513.513513513514,
 513.874614594039,
 515.58794211666,
 518.614558251528,
 521.505376344086,
 521.624298448333,
 523.568702290076,
 537.634408602151,
 550.964187327824,
 557.921010130671,
 560.0,
 572.519083969466,
 574.0,
 574.162679425837,
 587.226545294377,
 587.285273821759,
 593.912397921307,
 594.594594594595,
 594.626339744531,
 595.947556615018,
 595.947556615018,
 598.086124401914,
 600.0,
 600.0,
 616.649537512847,
 631.331669358391,
 645.161290322581,
 645.161290322581,
 645.161290322581,
 648.395061728395,
 650.0,
 650.0,
 650.0,
 650.0,
 657.324840764331,
 666.666666666667,
 666.666666666667,
 666.886761307362,
 667.93893129771,
 667.93893129771,
 668.337510442774,
 668.337510442774,
 668.337510442774,
 673.098496746691,
 679.012345679012,
 691.358024691358,
 693.298118190822,
 698.924731182796,
 700.0,
 700.0,
 700.0,
 700.0,
 700.0,
 702.576112412178,
 704.742328586111,
 708.59872611465,
 710.492857677062,
 731.182795698925,
 731.182795698925,
 734.106592277199,
 734.106592277199,
 740.740740740741,
 740.740740740741,
 740.740740740741,
 740.740740740741,
 740.877940359326,
 751.87969924812,
 751.87969924812,
 752.688172043011,
 752.688172043011,
 752.688172043011,
 774.193548387097,
 784.7533632287,
 793.0,
 794.28117553614,
 796.252927400468,
 806.451612903226,
 806.451612903226,
 806.451612903226,
 807.517251504918,
 814.814814814815,
 817.438692098093,
 826.446280991736,
 835.421888053467,
 835.421888053467,
 835.421888053467,
 835.421888053467,
 835.421888053467,
 839.506172839506,
 843.091334894614,
 850.0,
 850.0,
 850.0,
 850.0,
 853.749072011878,
 860.215053763441,
 860.215053763441,
 860.215053763441,
 860.215053763441,
 860.215053763441,
 860.215053763441,
 861.244019138756,
 864.197530864198,
 864.197530864198,
 864.197530864198,
 864.197530864198,
 864.197530864198,
 880.927910732638,
 888.888888888889,
 890.86859688196,
 897.464662328921,
 900.0,
 910.292174423726,
 913.978494623656,
 918.918918918919,
 918.964076858814,
 925.925925925926,
 950.0,
 954.338569960358,
 954.338569960358,
 955.414012738853,
 955.414012738853,
 956.937799043062,
 964.187327823691,
 964.187327823691,
 965.107646622123,
 967.741935483871,
 967.741935483871,
 967.741935483871,
 967.741935483871,
 987.654320987654,
 987.654320987654,
 987.654320987654,
 987.654320987654,
 987.654320987654,
 990.425883129746,
 1000.0,
 1000.0,
 1000.0,
 1000.0,
 1000.0,
 1000.0,
 1000.0,
 1000.0,
 1000.0,
 1002.50626566416,
 1002.50626566416,
 1008.96860986547,
 1021.50537634409,
 1027.74922918808,
 1031.17588423332,
 1037.03703703704,
 1039.34669636229,
 1042.30000868583,
 1050.95541401274,
 1053.76344086022,
 1057.16523101018,
 1075.2688172043,
 1075.2688172043,
 1075.2688172043,
 1075.2688172043,
 1075.2688172043,
 1075.2688172043,
 1075.2688172043,
 1075.2688172043,
 1075.2688172043,
 1075.2688172043,
 1075.2688172043,
 1075.2688172043,
 1075.2688172043,
 1075.2688172043,
 1080.44699635735,
 1096.31949882537,
 1100.0,
 1101.1598884158,
 1101.92837465565,
 1101.92837465565,
 1109.86547085202,
 1111.31691053899,
 1111.31691053899,
 1111.31691053899,
 1111.31691053899,
 1114.64968152866,
 1121.83082791115,
 1134.29347265665,
 1136.36363636364,
 1143.76489277204,
 1150.5376344086,
 1155.0,
 1169.59064327485,
 1169.59064327485,
 1169.59064327485,
 1169.59064327485,
 1169.59064327485,
 1170.79889807163,
 1170.96018735363,
 1170.96018735363,
 1174.57054764352,
 1174.57054764352,
 1174.57054764352,
 1182.79569892473,
 1182.79569892473,
 1182.79569892473,
 1182.79569892473,
 1182.79569892473,
 1192.74809160305,
 1200.0,
 1200.0,
 1200.0,
 1211.27587725738,
 1218.0,
 1220.86280118249,
 1221.37404580153,
 1233.29907502569,
 1234.56790123457,
 1234.56790123457,
 1234.79656726554,
 1238.76543209877,
 1244.01913875598,
 1253.1328320802,
 1253.1328320802,
 1273.11827956989,
 1273.88535031847,
 1283.33578035531,
 1288.96985529165,
 1290.32258064516,
 1290.32258064516,
 1290.32258064516,
 1290.32258064516,
 1290.32258064516,
 1290.32258064516,
 1292.09083790133,
 1300.0,
 1300.0,
 1306.15612002887,
 1320.56784417299,
 1327.72466539197,
 1336.30289532294,
 1336.67502088555,
 1336.67502088555,
 1343.72680029696,
 1344.08602150538,
 1345.29147982063,
 1347.70889487871,
 1349.86225895317,
 1351.35135135135,
 1358.02469135802,
 1369.42675159236,
 1374.90117897776,
 1374.90117897776,
 1374.90117897776,
 1376.34408602151,
 1376.34408602151,
 1377.41046831956,
 1377.41046831956,
 1377.41046831956,
 1377.41046831956,
 1397.05882352941,
 1397.84946236559,
 1397.84946236559,
 1400.0,
 1401.27388535032,
 1405.15222482436,
 1409.48465717222,
 1409.48465717222,
 1409.48465717222,
 1420.21720969089,
 1431.29770992366,
 1432.25806451613,
 1435.40669856459,
 1435.94345972627,
 1448.7079091621,
 1451.61290322581,
 1461.78343949045,
 1468.2131845544,
 1468.2131845544,
 1468.2131845544,
 1468.2131845544,
 1478.49462365591,
 1481.48148148148,
 1481.48148148148,
 1481.48148148148,
 1481.48148148148,
 1481.48148148148,
 1481.48148148148,
 1481.48148148148,
 1481.75588071865,
 1495.95687331536,
 1497.57744824549,
 1500.0,
 1500.0,
 1500.0,
 1500.0,
 1500.0,
 1500.0,
 1500.0,
 1503.75939849624,
 1505.37634408602,
 1505.37634408602,
 1505.37634408602,
 1505.37634408602,
 1505.37634408602,
 1505.37634408602,
 1515.15151515152,
 1521.90051967335,
 1526.71755725191,
 1526.71755725191,
 1528.66242038217,
 1529.63671128107,
 1530.86419753086,
 1537.03703703704,
 1546.76382634998,
 1550.0,
 1555.55555555556,
 1566.17071260767,
 1588.56235107228,
 1588.56235107228,
 1592.35668789809,
 1600.0,
 1604.01002506266,
 1604.93827160494,
 1612.90322580645,
 1612.90322580645,
 1612.90322580645,
 1612.90322580645,
 1612.90322580645,
 1612.90322580645,
 1612.90322580645,
 1612.90322580645,
 1615.03450300984,
 1617.25067385445,
 1621.62162162162,
 1626.79425837321,
 1626.79425837321,
 1636.77130044843,
 1639.34426229508,
 1643.00690887842,
 1652.89256198347,
 1666.66666666667,
 1670.84377610693,
 1672.04301075269,
 1679.01234567901,
 1697.84527999012,
 1700.0,
 1707.49814402376,
 1707.49814402376,
 1717.5572519084,
 1718.6264737222,
 1720.43010752688,
 1720.43010752688,
 1720.43010752688,
 1720.43010752688,
 1725.0,
 1728.3950617284,
 1728.3950617284,
 1728.3950617284,
 1728.3950617284,
 1729.72972972973,
 1733.02107728337,
 1737.16668114306,
 1751.5923566879,
 1756.44028103045,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1761.85582146528,
 1763.17743132888,
 1777.77777777778,
 1783.78378378378,
 1800.0,
 1803.43511450382,
 1827.16049382716,
 1827.95698924731,
 1827.95698924731,
 1827.95698924731,
 1850.0,
 1850.0,
 1851.85185185185,
 1853.14685314685,
 1869.71804651858,
 1871.34502923977,
 1871.34502923977,
 1873.53629976581,
 1889.53488372093,
 1889.53488372093,
 1891.89189189189,
 1904.7619047619,
 1908.67713992072,
 1910.82802547771,
 1910.82802547771,
 1910.82802547771,
 1910.82802547771,
 1913.87559808612,
 1913.87559808612,
 1928.37465564738,
 1935.48387096774,
 1935.48387096774,
 1935.48387096774,
 1935.48387096774,
 1935.48387096774,
 1935.48387096774,
 1935.48387096774,
 1939.91031390135,
 1952.72353545735,
 1963.2318501171,
 1975.30864197531,
 1975.30864197531,
 1989.24731182796,
 2000.0,
 2000.0,
 2000.0,
 2000.0,
 2000.0,
 2000.0,
 2000.0,
 2000.0,
 2004.45434298441,
 2005.01253132832,
 2005.01253132832,
 2005.01253132832,
 2005.01253132832,
 2006.17283950617,
 2009.56937799043,
 2027.73315031742,
 2037.03703703704,
 2040.74074074074,
 2047.0,
 2051.28205128205,
 2055.49845837616,
 2055.49845837616,
 2070.06369426752,
 2084.60001737167,
 2098.76543209877,
 2101.91082802548,
 2105.26315789474,
 2107.52688172043,
 2114.22698575833,
 2114.22698575833,
 2114.22698575833,
 2114.22698575833,
 2114.22698575833,
 2114.22698575833,
 2114.22698575833,
 2118.27956989247,
 2128.90911760388,
 2148.14814814815,
 2148.14814814815,
 2150.5376344086,
 2150.5376344086,
 2150.5376344086,
 2150.5376344086,
 2150.5376344086,
 2150.5376344086,
 2150.5376344086,
 2150.5376344086,
 2150.5376344086,
 2150.5376344086,
 2150.5376344086,
 2150.5376344086,
 2150.5376344086,
 2153.11004784689,
 2153.11004784689,
 2172.09690893901,
 2172.09690893901,
 2172.09690893901,
 2172.09690893901,
 2172.09690893901,
 2172.09690893901,
 2172.95551314051,
 2172.95551314051,
 2180.23255813953,
 2200.0,
 2200.0,
 2200.0,
 2202.3197768316,
 2202.3197768316,
 2202.3197768316,
 2202.3197768316,
 2202.3197768316,
 2202.3197768316,
 2202.3197768316,
 2202.3197768316,
 2204.30107526882,
 2227.1714922049,
 2227.1714922049,
 2239.47446999104,
 2255.63909774436,
 2256.0,
 2258.06451612903,
 2287.65432098765,
 2290.07633587786,
 2290.41256790486,
 2292.99363057325,
 2300.0,
 2301.41054194506,
 2324.84076433121,
 2325.58139534884,
 2328.0,
 2339.18128654971,
 2341.92037470726,
 2345.67901234568,
 2349.14109528704,
 2365.59139784946,
 2365.59139784946,
 2365.59139784946,
 2388.53503184713,
 2389.30659983292,
 2392.34449760766,
 2400.0,
 2400.0,
 2406.01503759398,
 2407.40740740741,
 2419.35483870968,
 2419.35483870968,
 2432.43243243243,
 2466.59815005139,
 2469.13580246914,
 2469.13580246914,
 2469.13580246914,
 2469.13580246914,
 2469.13580246914,
 2469.13580246914,
 2473.11827956989,
 2473.11827956989,
 2473.11827956989,
 2480.91603053435,
 2500.0,
 2500.0,
 2500.0,
 2500.0,
 2500.0,
 2500.0,
 2500.0,
 2502.15053763441,
 2526.88172043011,
 2547.77070063694,
 2576.09502598367,
 2577.9397105833,
 2580.64516129032,
 2580.64516129032,
 2580.64516129032,
 2592.59259259259,
 2600.0,
 2601.80995475113,
 2612.31224005775,
 2634.40860215054,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2642.78373219792,
 2657.46586404346,
 2660.40229041257,
 2668.78474980143,
 2673.35004177109,
 2688.17204301075,
 2688.17204301075,
 2688.17204301075,
 2688.17204301075,
 2688.17204301075,
 2688.17204301075,
 2692.39398698676,
 2695.41778975741,
 2695.63940684187,
 2701.51225958009,
 2707.00636942675,
 2716.04938271605,
 2716.04938271605,
 2716.04938271605,
 2716.04938271605,
 2716.19439142563,
 2740.79874706343,
 2741.93548387097,
 2749.80235795552,
 2760.21505376344,
 2760.24078696227,
 2795.69892473118,
 2795.69892473118,
 2795.69892473118,
 2818.96931434444,
 2821.08389012621,
 2823.72598162072,
 2828.05429864253,
 2839.50617283951,
 2848.33357803553,
 2860.54827175209,
 2862.59541984733,
 2862.59541984733,
 2870.81339712919,
 2882.20551378446,
 2903.22580645161,
 2903.22580645161,
 2918.91891891892,
 2924.68066363236,
 2932.25806451613,
 2936.42636910879,
 2936.42636910879,
 2936.42636910879,
 2936.42636910879,
 2936.42636910879,
 2936.42636910879,
 2936.42636910879,
 2936.42636910879,
 2936.42636910879,
 2936.42636910879,
 2936.42636910879,
 2936.42636910879,
 2936.42636910879,
 2936.42636910879,
 2936.42636910879,
 2936.48509763618,
 2941.17647058824,
 2941.17647058824,
 2956.98924731183,
 2956.98924731183,
 2962.96296296296,
 2962.96296296296,
 2964.95251715748,
 2969.56198960653,
 2972.97297297297,
 2995.15489649097,
 3000.0,
 3000.0,
 3000.0,
 3000.0,
 3000.0,
 3000.0,
 3007.51879699248,
 3010.75268817204,
 3010.75268817204,
 3010.75268817204,
 3010.75268817204,
 3010.75268817204,
 3030.30303030303,
 3035.0,
 3050.03971405878,
 3098.92729439809,
 3105.0,
 3139.36148875498,
 3156.65834679195,
 3167.42081447964,
 3171.3404786375,
 3171.3404786375,
 3171.3404786375,
 3171.3404786375,
 3171.3404786375,
 3171.3404786375,
 3171.3404786375,
 3171.3404786375,
 3171.3404786375,
 3184.71337579618,
 3197.67441860465,
 3209.87654320988,
 3209.87654320988,
 3209.87654320988,
 3225.8064516129,
 3225.8064516129,
 3225.8064516129,
 3225.8064516129,
 3225.8064516129,
 3225.8064516129,
 3225.8064516129,
 3225.8064516129,
 3225.8064516129,
 3225.8064516129,
 3225.8064516129,
 3225.8064516129,
 3225.8064516129,
 3225.8064516129,
 3230.06900601967,
 3230.06900601967,
 3230.06900601967,
 3230.06900601967,
 3234.5013477089,
 3279.56989247312,
 3280.54298642534,
 3303.47966524739,
 3303.47966524739,
 3333.33333333333,
 3335.36002779467,
 3337.10407239819,
 3337.10407239819,
 3349.28229665072,
 3387.09677419355,
 3407.06503796633,
 3439.49044585987,
 3440.86021505376,
 3440.86021505376,
 3440.86021505376,
 3444.97607655502,
 3456.79012345679,
 3456.79012345679,
 3461.53846153846,
 3489.23533778768,
 3500.0,
 3503.1847133758,
 3512.88056206089,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3523.71164293055,
 3542.23433242507,
 3548.38709677419,
 3548.38709677419,
 3561.25356125356,
 3563.47438752784,
 3575.68533969011,
 3600.0,
 3639.3641969947,
 3670.53296138599,
 3670.53296138599,
 3670.53296138599,
 3670.53296138599,
 3670.53296138599,
 3696.72131147541,
 3699.89722507708,
 3703.7037037037,
 3703.7037037037,
 3711.95248700817,
 3732.05741626794,
 3733.03167420814,
 3743.94362061371,
 3758.80971025842,
 3763.44086021505,
 3763.44086021505,
 3763.44086021505,
 3763.44086021505,
 3763.44086021505,
 3773.58490566038,
 3779.0,
 3816.79389312977,
 3817.35427984143,
 3821.65605095541,
 3821.65605095541,
 3827.75119617225,
 3842.94068504595,
 3842.94068504595,
 3846.15384615385,
 3846.15384615385,
 3870.96774193548,
 3870.96774193548,
 3876.08280722361,
 3876.08280722361,
 3876.08280722361,
 3876.08280722361,
 3876.08280722361,
 3902.7149321267,
 3950.61728395062,
 3950.61728395062,
 3959.27601809955,
 3964.17559829687,
 3964.17559829687,
 3964.17559829687,
 3978.49462365591,
 4000.0,
 4000.0,
 4000.0,
 4000.0,
 4000.0,
 4000.0,
 4000.0,
 4000.0,
 4010.02506265664,
 4019.13875598086,
 4032.25806451613,
 4037.58625752459,
 4052.26838937014,
 4052.26838937014,
 4052.26838937014,
 4052.44338498212,
 4072.39819004525,
 4086.02150537634,
 4086.02150537634,
 4110.99691675231,
 4110.99691675231,
 4110.99691675231,
 4110.99691675231,
 4112.90322580645,
 4117.55361397935,
 4140.12738853503,
 4145.03816793893,
 4157.52876490214,
 ...]

In [49]:
listSalarySorted = sorted(listSalarySorted, reverse = True)
listSalarySorted[:5]

[197000.0, 195000.0, 195000.0, 195000.0, 195000.0]